<!DOCTYPE HTML>
<html lang="ar">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Title -->
	<title>CryPtor AR</title>

	<!-- icon -->
	<link rel="icon" href="../resource/images/icon.png">

	<!-- Style Sheet -->
	<link rel="stylesheet" href="../resource/css/main.css" />
	<style>

	</style>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper" class="box-page">

		<!-- Main Block -->
		<div id="header" class="alt">

			<!-- LOGO -->
			<img id="logo" src="../resource/images/logo.jpg" alt="CryPtor LOGO" style="color: wheat;">

			<!-- Main -->
			<div id="main" class="FRONT">

				<!-- Introduction -->
				<section id="intro" class="main">

					<!-- form container -->
					<div class="content">
						<header class="major" style="margin: 0;">

							<!-- Wlcome Message -->
							<h2 style="letter-spacing:0">أهلا بك في عالم التشفير</h2>
							<p style="letter-spacing:0" class="margin-0">هذه المنصة هي أداة تشفير تلبي متطلب مشروع مقرر ( مقدمة في التشفير )</p>
							<p style="margin: 0;letter-spacing:0;">صممت هذه الأداة <span style="color: red;letter-spacing:5;font-weight: bold;"">_ للغة العربية _</span>
								فقط ,لعرض الصفحة باللغة الإنجليزية >><a href="../index.html"> اضغط هنا</a> </p>

						</header>
						<br>
						<!-- input data area -->
						<div>
							<p class="Text margin-0" style="float: right;letter-spacing: 5;">اختر طريقة التشفير</p>
							<select id="selectedEncrpType" name="EncrpType">
								<option value="none">Please Select One Encryption Type</option>
								<option value="Caesar" onclick="DisplayOp1()">Shift Cipher (Basic Caesar Cipher)</option>
								<option value="Monoalphabetic" onclick="DisplayOp2()">Monoalphabetic Cipher</option>
								<option value="Vigenere" onclick="DisplayOp3()">Vigenere Cipher</option>
							</select>

							<br>

							<p class="margin-0 inline float-left" style="margin-left:350px;">النص الأصلي</p><br>
							<textarea name="" id="Ptxt" cols="30" rows="10"
								class="float-left txt-align-right"></textarea>


							<p id="C-lb" class="margin-0 inline float-left" style="margin-left:370px;">النص المشفر</p><br>
							<textarea name="" id="Ctxt" cols="30" rows="10" readonly
								class="float-left txt-align-right"></textarea>

							<p class="inline float-left margin23x10">المفتاح</p>
							<input id="KEY" type="hidden" class="inline float-left K-area">

							<button id="op1btn" onclick="shiftCipher()" class="button float-right margin-top15 Caesar">شفر</button>
							<button id="op2btn" onclick="MonoCipher()"  class="button float-right margin-top15 Monoalphabetic">شفر</button>
							<button id="op3btn" onclick="VigCipher()"   class="button float-right margin-top15 Vigenere">شفر</button>

							<button id="clear" class=" float-right margin-top15" onclick="history.go(0)">اعادة الضبط</button>

						</div>
					</div>

				</section>

			</div>

		</div>

	</div>

	<!-- Random Cubes in background -->
	<ul class="circles">
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
		<li id="animeCube"></li>
	</ul>

	<!-- Scripts -->
	<script src="../resource/js/jquery.min.js"></script>
	<script src="../resource/js/breakpoints.min.js"></script>
	<script src="../resource/js/main.js"></script>
	<script src="../resource/js/JSFunctions.js"></script>

</body>

</html>